<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>APP KONG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recupera tu contraseña</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <div class="container">  
      <ion-card-content>
        <ion-input no-lines [(ngModel)]="usuario" labelPlacement="stacked">
          <div slot="label">Nombre de Usuario</div>
        </ion-input>
        
        <ion-button color="light"  shape="round" (click)="handleRecovery()">
          Recuperar 
        </ion-button>
        <div id="back-container">
          <a  routerLink="/">Volver al inicio</a>
        </div>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
