<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>APP KONG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Inicio de Sesión</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  <div class="container">  <ion-card-content>
    <ion-input no-lines [(ngModel)]="usuario" labelPlacement="stacked">
      <div slot="label">Nombre de Usuario</div>
    </ion-input>
    <ion-input no-lines [(ngModel)]="contrasena" type="password" labelPlacement="stacked">
      <div slot="label">Contraseña</div>
    </ion-input>
    <ion-button color="light"  shape="round" (click)="handleLogin()">
      Iniciar Sesión 
      <ion-icon name="arrow-forward-outline" /> 
    </ion-button>
  </ion-card-content></div>

  </ion-card>
</ion-content>
