ion-card {
    height: fit-content;
    padding: 2vh 0 10vh 0;
    margin-top: 20%;

    ion-card-title{
        text-align: center;
        }
    
    ion-input {
        margin-bottom: 4vh;
        background-color: #f2f2f2;
        color: #333;
        border-radius: 10px;
        padding: 30px;
        --padding-start: 4vw;
        --padding-bottom: 1vh;
    }
    
    ion-button{
        display: flex;
        margin-top: 4vh;
        
        ion-icon {
            margin: 0 2vw;
        }
    }
}