<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="home-container">
    <div id="hello-user"> 
      <span>¡</span>
      <strong>Bienvenido,</strong>
      <span>{{username}}</span>
      <span>!</span>
    </div>
    <div id="menu-container">
      <ion-card *ngFor="let i of menuArr">
        <ng-container *ngIf="i.disabled">
          <div class="box-disabled" [routerLink]="i.url">
            <ion-icon [name]="i.icono" />
            <h2>{{i.nombre}}</h2>
          </div>
        </ng-container>

        <ng-container *ngIf="!i.disabled">
          <div class="box" [routerLink]="i.url">
            <ion-icon [name]="i.icono" />
            <h2>{{i.nombre}}</h2>
          </div>
        </ng-container>
      </ion-card>
    </div>
  </div>
  
</ion-content>
